// Sprites Map
$sp_common: (
	name: 'sp_common',
	width: 3539px,
	height: 3451px,
	image: '../img/sp_common.png',
	sprites: (
	icon_arrow_down: (
			offset-x: -2185px,
			offset-y: -1151px,
			width: 48px,
			height: 48px,
		),
		icon_arrow_left: (
			offset-x: -3332px,
			offset-y: -1828px,
			width: 32px,
			height: 32px,
		),
		icon_arrow_right: (
			offset-x: -3286px,
			offset-y: -1828px,
			width: 36px,
			height: 36px,
		),
		icon_arrow_up: (
			offset-x: -2185px,
			offset-y: -1209px,
			width: 48px,
			height: 48px,
		),
		icon_footer_logo: (
			offset-x: -2247px,
			offset-y: -1828px,
			width: 504px,
			height: 64px,
		),
		icon_footer_series: (
			offset-x: -3043px,
			offset-y: -1522px,
			width: 126px,
			height: 30px,
		),
		icon_footer_series_on: (
			offset-x: -2873px,
			offset-y: -1522px,
			width: 160px,
			height: 30px,
		),
		icon_footer_webtoon: (
			offset-x: -2380px,
			offset-y: -2067px,
			width: 66px,
			height: 66px,
		),
		icon_play: (
			offset-x: -2076px,
			offset-y: -769px,
			width: 160px,
			height: 160px,
		),
		icon_webtoon_logo: (
			offset-x: -450px,
			offset-y: -2187px,
			width: 140px,
			height: 135px,
		),
		img_character: (
			offset-x: -2247px,
			offset-y: -1022px,
			width: 616px,
			height: 530px,
		),
		img_date: (
			offset-x: -2946px,
			offset-y: -1905px,
			width: 304px,
			height: 84px,
		),
		img_dog: (
			offset-x: -3237px,
			offset-y: -578px,
			width: 280px,
			height: 276px,
		),
		img_process: (
			offset-x: 0px,
			offset-y: -1495px,
			width: 1960px,
			height: 400px,
		),
		img_rocketmoon: (
			offset-x: 0px,
			offset-y: 0px,
			width: 2237px,
			height: 759px,
		),
		img_ufo: (
			offset-x: -1970px,
			offset-y: -1495px,
			width: 211px,
			height: 329px,
		),
		m_icon_arrow_down: (
			offset-x: -3458px,
			offset-y: -1828px,
			width: 32px,
			height: 32px,
		),
		m_icon_arrow_left: (
			offset-x: -3416px,
			offset-y: -1828px,
			width: 32px,
			height: 32px,
		),
		m_icon_arrow_right: (
			offset-x: -3333px,
			offset-y: -1788px,
			width: 24px,
			height: 24px,
		),
		m_icon_play: (
			offset-x: -2178px,
			offset-y: -1834px,
			width: 56px,
			height: 56px,
		),
		m_img_character: (
			offset-x: -1634px,
			offset-y: -1151px,
			width: 364px,
			height: 313px,
		),
		m_img_date: (
			offset-x: -1970px,
			offset-y: -1834px,
			width: 198px,
			height: 56px,
		),
		m_img_dog: (
			offset-x: -266px,
			offset-y: -2187px,
			width: 174px,
			height: 163px,
		),
		m_img_planet: (
			offset-x: -3237px,
			offset-y: -864px,
			width: 180px,
			height: 119px,
		),
		m_img_planet_s: (
			offset-x: -600px,
			offset-y: -2187px,
			width: 140px,
			height: 88px,
		),
		m_img_process: (
			offset-x: 0px,
			offset-y: -2187px,
			width: 256px,
			height: 1264px,
		),
		m_img_rocket: (
			offset-x: -2076px,
			offset-y: -939px,
			width: 159px,
			height: 152px,
		),
		m_share_title: (
			offset-x: -2290px,
			offset-y: -1905px,
			width: 646px,
			height: 152px,
		),
		m_spot_title: (
			offset-x: -2873px,
			offset-y: -1022px,
			width: 646px,
			height: 490px,
		),
		share_title: (
			offset-x: -2247px,
			offset-y: -1562px,
			width: 1038px,
			height: 256px,
		),
		spot_title: (
			offset-x: -2247px,
			offset-y: 0px,
			width: 1292px,
			height: 568px,
		),
		t_icon_arrow_down: (
			offset-x: -3374px,
			offset-y: -1828px,
			width: 32px,
			height: 32px,
		),
		t_icon_arrow_left: (
			offset-x: -3236px,
			offset-y: -1828px,
			width: 40px,
			height: 40px,
		),
		t_icon_arrow_right: (
			offset-x: -3295px,
			offset-y: -1788px,
			width: 28px,
			height: 28px,
		),
		t_icon_footer_logo: (
			offset-x: -2761px,
			offset-y: -1828px,
			width: 409px,
			height: 47px,
		),
		t_icon_footer_series: (
			offset-x: -3298px,
			offset-y: -1522px,
			width: 85px,
			height: 20px,
		),
		t_icon_footer_series_on: (
			offset-x: -3179px,
			offset-y: -1522px,
			width: 109px,
			height: 21px,
		),
		t_icon_footer_webtoon: (
			offset-x: -3180px,
			offset-y: -1828px,
			width: 46px,
			height: 44px,
		),
		t_icon_play: (
			offset-x: -3427px,
			offset-y: -864px,
			width: 112px,
			height: 112px,
		),
		t_icon_webtoon_logo: (
			offset-x: -2290px,
			offset-y: -2067px,
			width: 80px,
			height: 80px,
		),
		t_img_character: (
			offset-x: -1634px,
			offset-y: -769px,
			width: 432px,
			height: 372px,
		),
		t_img_date: (
			offset-x: -3260px,
			offset-y: -1905px,
			width: 248px,
			height: 80px,
		),
		t_img_dog: (
			offset-x: -3295px,
			offset-y: -1562px,
			width: 228px,
			height: 216px,
		),
		t_img_process: (
			offset-x: 0px,
			offset-y: -1905px,
			width: 1328px,
			height: 272px,
		),
		t_img_rocketmoon: (
			offset-x: 0px,
			offset-y: -769px,
			width: 1624px,
			height: 716px,
		),
		t_img_ufo: (
			offset-x: -2008px,
			offset-y: -1151px,
			width: 167px,
			height: 248px,
		),
		t_share_title: (
			offset-x: -1338px,
			offset-y: -1905px,
			width: 942px,
			height: 248px,
		),
		t_spot_title: (
			offset-x: -2247px,
			offset-y: -578px,
			width: 980px,
			height: 434px,
		),
	)
);
