// Sprites Map
$sp_common: (
	name: 'sp_common',
	width: 3210px,
	height: 2818px,
	image: '../img/sp_common.png',
	sprites: (
	btn_pop_close: (
			offset-x: -856px,
			offset-y: -2502px,
			width: 142px,
			height: 140px,
		),
		icon_arrow: (
			offset-x: -1350px,
			offset-y: -2144px,
			width: 72px,
			height: 72px,
		),
		icon_footer_logo: (
			offset-x: -2310px,
			offset-y: -1909px,
			width: 504px,
			height: 64px,
		),
		icon_footer_series: (
			offset-x: -2994px,
			offset-y: -1909px,
			width: 126px,
			height: 30px,
		),
		icon_footer_series_on: (
			offset-x: -2824px,
			offset-y: -1909px,
			width: 160px,
			height: 30px,
		),
		icon_footer_webtoon: (
			offset-x: -1588px,
			offset-y: -2246px,
			width: 66px,
			height: 66px,
		),
		icon_play: (
			offset-x: -686px,
			offset-y: -2502px,
			width: 160px,
			height: 160px,
		),
		icon_play_color: (
			offset-x: -176px,
			offset-y: -2502px,
			width: 160px,
			height: 160px,
		),
		icon_sole: (
			offset-x: -2966px,
			offset-y: -864px,
			width: 212px,
			height: 170px,
		),
		icon_star_01: (
			offset-x: -1640px,
			offset-y: -2144px,
			width: 41px,
			height: 42px,
		),
		icon_star_02: (
			offset-x: -3188px,
			offset-y: -864px,
			width: 21px,
			height: 22px,
		),
		icon_star_03: (
			offset-x: -3170px,
			offset-y: -1261px,
			width: 29px,
			height: 30px,
		),
		icon_star_04: (
			offset-x: -3170px,
			offset-y: -1220px,
			width: 29px,
			height: 31px,
		),
		icon_text: (
			offset-x: -346px,
			offset-y: -2502px,
			width: 160px,
			height: 160px,
		),
		icon_text_color: (
			offset-x: -516px,
			offset-y: -2502px,
			width: 160px,
			height: 160px,
		),
		icon_webtoon_logo: (
			offset-x: -1159px,
			offset-y: -2502px,
			width: 140px,
			height: 135px,
		),
		img_bird: (
			offset-x: -592px,
			offset-y: -1986px,
			width: 332px,
			height: 391px,
		),
		img_computer: (
			offset-x: -1004px,
			offset-y: -1599px,
			width: 470px,
			height: 371px,
		),
		img_muke: (
			offset-x: -1004px,
			offset-y: 0px,
			width: 1296px,
			height: 910px,
		),
		img_muke_body: (
			offset-x: 0px,
			offset-y: 0px,
			width: 994px,
			height: 1976px,
		),
		img_muke_head: (
			offset-x: -1004px,
			offset-y: -920px,
			width: 830px,
			height: 669px,
		),
		img_muke_paw: (
			offset-x: -1844px,
			offset-y: -920px,
			width: 431px,
			height: 562px,
		),
		img_tree: (
			offset-x: 0px,
			offset-y: -1986px,
			width: 582px,
			height: 506px,
		),
		interview_photo_01: (
			offset-x: -1678px,
			offset-y: -1986px,
			width: 278px,
			height: 148px,
		),
		interview_photo_02: (
			offset-x: -2728px,
			offset-y: -1751px,
			width: 408px,
			height: 148px,
		),
		interview_photo_03: (
			offset-x: -1260px,
			offset-y: -1986px,
			width: 408px,
			height: 148px,
		),
		interview_photo_04: (
			offset-x: -2310px,
			offset-y: -1751px,
			width: 408px,
			height: 148px,
		),
		m_btn_pop_close: (
			offset-x: -2213px,
			offset-y: -1828px,
			width: 80px,
			height: 80px,
		),
		m_icon_play: (
			offset-x: -2966px,
			offset-y: -1044px,
			width: 166px,
			height: 166px,
		),
		m_icon_text: (
			offset-x: 0px,
			offset-y: -2502px,
			width: 166px,
			height: 166px,
		),
		m_interview_photo_01: (
			offset-x: -2966px,
			offset-y: -1220px,
			width: 194px,
			height: 104px,
		),
		m_interview_photo_02: (
			offset-x: -2554px,
			offset-y: -1986px,
			width: 284px,
			height: 104px,
		),
		m_interview_photo_03: (
			offset-x: -2260px,
			offset-y: -1986px,
			width: 284px,
			height: 104px,
		),
		m_interview_photo_04: (
			offset-x: -1966px,
			offset-y: -1986px,
			width: 284px,
			height: 104px,
		),
		spot_icon_cursor: (
			offset-x: 0px,
			offset-y: -2678px,
			width: 121px,
			height: 140px,
		),
		spot_icon_keyboard: (
			offset-x: -2310px,
			offset-y: -1349px,
			width: 857px,
			height: 392px,
		),
		spot_icon_laptop: (
			offset-x: -2310px,
			offset-y: -591px,
			width: 646px,
			height: 748px,
		),
		spot_icon_smoke: (
			offset-x: -1942px,
			offset-y: -1599px,
			width: 261px,
			height: 324px,
		),
		spot_icon_star: (
			offset-x: -1008px,
			offset-y: -2502px,
			width: 141px,
			height: 140px,
		),
		t_icon_footer_logo: (
			offset-x: -1844px,
			offset-y: -1492px,
			width: 409px,
			height: 48px,
		),
		t_icon_footer_series: (
			offset-x: -2943px,
			offset-y: -1949px,
			width: 85px,
			height: 20px,
		),
		t_icon_footer_series_on: (
			offset-x: -2824px,
			offset-y: -1949px,
			width: 109px,
			height: 21px,
		),
		t_icon_footer_webtoon: (
			offset-x: -1584px,
			offset-y: -2144px,
			width: 46px,
			height: 45px,
		),
		t_icon_play: (
			offset-x: -1673px,
			offset-y: -2502px,
			width: 107px,
			height: 107px,
		),
		t_icon_text: (
			offset-x: -1555px,
			offset-y: -2502px,
			width: 108px,
			height: 107px,
		),
		t_icon_webtoon_logo: (
			offset-x: -1260px,
			offset-y: -2144px,
			width: 80px,
			height: 77px,
		),
		t_img_bird: (
			offset-x: -2966px,
			offset-y: -591px,
			width: 223px,
			height: 263px,
		),
		t_img_computer: (
			offset-x: -934px,
			offset-y: -1986px,
			width: 316px,
			height: 250px,
		),
		t_img_muke: (
			offset-x: -2310px,
			offset-y: 0px,
			width: 900px,
			height: 581px,
		),
		t_img_tree: (
			offset-x: -1484px,
			offset-y: -1599px,
			width: 448px,
			height: 341px,
		),
		t_interview_photo_01: (
			offset-x: -592px,
			offset-y: -2387px,
			width: 189px,
			height: 102px,
		),
		t_interview_photo_02: (
			offset-x: -2848px,
			offset-y: -1986px,
			width: 278px,
			height: 102px,
		),
		t_interview_photo_03: (
			offset-x: -934px,
			offset-y: -2246px,
			width: 278px,
			height: 101px,
		),
		t_interview_photo_04: (
			offset-x: -1222px,
			offset-y: -2246px,
			width: 278px,
			height: 101px,
		),
		text_01: (
			offset-x: -1425px,
			offset-y: -2502px,
			width: 120px,
			height: 111px,
		),
		text_02: (
			offset-x: -854px,
			offset-y: -2387px,
			width: 53px,
			height: 71px,
		),
		text_03: (
			offset-x: -3136px,
			offset-y: -1986px,
			width: 71px,
			height: 102px,
		),
		text_04: (
			offset-x: -2213px,
			offset-y: -1716px,
			width: 71px,
			height: 102px,
		),
		text_05: (
			offset-x: -2213px,
			offset-y: -1599px,
			width: 73px,
			height: 107px,
		),
		text_06: (
			offset-x: -1309px,
			offset-y: -2502px,
			width: 106px,
			height: 128px,
		),
		text_07: (
			offset-x: -3146px,
			offset-y: -1828px,
			width: 58px,
			height: 67px,
		),
		text_08: (
			offset-x: -1520px,
			offset-y: -2144px,
			width: 54px,
			height: 58px,
		),
		text_09: (
			offset-x: -1510px,
			offset-y: -2246px,
			width: 68px,
			height: 98px,
		),
		text_10: (
			offset-x: -131px,
			offset-y: -2678px,
			width: 100px,
			height: 139px,
		),
		text_11: (
			offset-x: -3146px,
			offset-y: -1751px,
			width: 58px,
			height: 67px,
		),
		text_12: (
			offset-x: -791px,
			offset-y: -2387px,
			width: 53px,
			height: 71px,
		),
		text_13: (
			offset-x: -1432px,
			offset-y: -2144px,
			width: 78px,
			height: 64px,
		),
		text_14: (
			offset-x: -3142px,
			offset-y: -1044px,
			width: 68px,
			height: 127px,
		),
	)
);
