@charset 'UTF-8';
/* NanumSquare */
@font-face {
    font-family: 'NanumSquareEB';
    src:
    url('../font/NanumSquare/NanumSquareEB.eot');
    src:
    url('../font/NanumSquare/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumSquare/NanumSquareEB.woff') format('woff'),
    url('../font/NanumSquare/NanumSquareEB.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumSquareB';
    src:
    url('../font/NanumSquare/NanumSquareB.eot');
    src:
    url('../font/NanumSquare/NanumSquareB.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumSquare/NanumSquareB.woff') format('woff'),
    url('../font/NanumSquare/NanumSquareB.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumSquareL';
    src:
    url('../font/NanumSquare/NanumSquareL.eot');
    src:
    url('../font/NanumSquare/NanumSquareL.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumSquare/NanumSquareL.woff') format('woff'),
    url('../font/NanumSquare/NanumSquareL.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumSquareR';
    src:
    url('../font/NanumSquare/NanumSquareR.eot');
    src:
    url('../font/NanumSquare/NanumSquareR.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumSquare/NanumSquareR.woff') format('woff'),
    url('../font/NanumSquare/NanumSquareR.ttf') format('truetype')
}

/* Volte */

@font-face {
    font-family: 'Volte';
    src:
    url('../font/Volte/Volte-Light.eot');
    src:
    url('../font/Volte/Volte-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Volte/Volte-Light.woff') format('woff'),
    url('../font/Volte/Volte-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'VolteB';
    src:
    url('../font/Volte/Volte-Bold.eot');
    src:
    url('../font/Volte/Volte-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Volte/Volte-Bold.woff') format('woff'),
    url('../font/Volte/Volte-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'VolteSB';
    src:
    url('../font/Volte/Volte-Semibold.eot');
    src:
    url('../font/Volte/Volte-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../font/Volte/Volte-Semibold.woff') format('woff'),
    url('../font/Volte/Volte-Semibold.ttf') format('truetype')
}

@font-face {
    font-family: 'VolteL';
    src:
    url('../font/Volte/Volte-Light.eot');
    src:
    url('../font/Volte/Volte-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Volte/Volte-Light.woff') format('woff'),
    url('../font/Volte/Volte-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'VolteR';
    src:
    url('../font/Volte/Volte-Regular.eot');
    src:
    url('../font/Volte/Volte-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Volte/Volte-Regular.woff') format('woff'),
    url('../font/Volte/Volte-Regular.ttf') format('truetype')
}
